@*@model List<Model.ViewModel.RealEstateViewModel>*@
@*@model PagedList.IPagedList<Model.EF.RealEstate>*@
@model  List<Model.EF.RealEstate>
@using PagedList.Mvc;

@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    //var dao = (Model.EF.RealEstate)ViewBag.CateID;
    var realestatetop = (List<Model.EF.RealEstate>)ViewBag.realestatetop;
    var category = (Model.EF.Category)ViewBag.Category;
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Assets/client/js/app.js"></script>
}

<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Properties Page</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">PROPERTIES</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
@{ Html.RenderAction("Search", "Category");}

<section id="aa-properties">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                    <div class="aa-properties-content-head">
                        <div class="aa-properties-content-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sort by</label>
                                <select name="">
                                    <option value="1" selected="Default">Default</option>
                                    <option value="2">Name</option>
                                    <option value="3">Price</option>
                                    <option value="4">Date</option>
                                </select>
                            </form>
                            <form action="" class="aa-show-form">
                                <label for="">Show</label>
                                <select name="">
                                    <option value="1" selected="12">6</option>
                                    <option value="2">12</option>
                                    <option value="3">24</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-properties-content-head-right">
                            <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
                            <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <span style="text-transform: uppercase; margin-top:20px; font-weight: 600;">DANH MỤC @category.Name MỚI NHẤT :</span>
                    <!-- start properties content head -->
                    <!-- Start properties content body -->
                    @if (Model.Count() > 0)
                    {
                        <div class="aa-properties-content-body">
                            @foreach (var item in Model)
                            {

                                <ul class="commentlist">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <img alt="img" src="@item.Image" class="media-object news-img">
                                            </div>
                                            <div class="media-body">
                                                <a class="author-name" href="/RealEstateClient/Detail/@item.RealEstateID" style="font-size:18px ">@item.Name</a>
                                                <span class="comments-date">@String.Format(format, "{0:c0}", @item.Price)</span>
                                                <span class="comments-date" style="margin-left: 20px; word-spacing: -5px;"> @item.Acreage m2</span><br />
                                                <span class="comments-date"> @item.Address </span>
                                                <p>@item.Description</p>

                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            }
                        </div>
                        <div>
                            @if (ViewBag.TotalPage > 1)
                            {
                                var pageDisplay = (int)ViewBag.MaxPage;
                                int totalPage = (int)ViewBag.TotalPage;
                                int currentPage = ((int)ViewBag.pageIndex);

                                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                                var link = "/Category/Category/" + category.CatID;
                                <nav>
                                    <ul class="pagination">
                                        @if (currentPage > ViewBag.First)
                                        {
                                            <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                            <li>
                                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                                            </li>

                                        }
                                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                                        {
                                            if (currentPage == i)
                                            {

                                                <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                                            }
                                        }
                                        @if (currentPage < totalPage)
                                        {
                                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                            <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                                        }

                                    </ul>
                                </nav>
                            }
                            else
                            {
                                <span style="color: #fff; margin: 40px 80px;">Không có trang mới nào</span>
                            }




                        </div>
                    }
                    else
                    {
                        <div class="noProduct" style="position: relative; top: 50%; left: 37%">
                            <img src="~/Assets/client/images/no-cart-edit.png" style="width: 320px; height: 200px " />
                            <h1 style=" font-size: 22px; color: #fff; text-align: center; margin: 20px 10px; width: 300px">No products</h1>
                        </div>
                    }
                    <!-- Start properties content bottom -->
                    <div class="aa-properties-content-bottom">
                        <nav>
                            <ul class="pagination">
                                @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))*@
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Start properties sidebar -->

            <div class="col-md-4">
                <aside class="aa-properties-sidebar">


                    <!-- Start Single properties sidebar -->
                    <!-- Start Single properties sidebar -->
                    <div class="aa-properties-single-sidebar">
                        <h3>Tin mới đăng</h3>
                        @foreach (var a in realestatetop)
                        {
                            <div class="media">
                                <div class="media-left">
                                    <a href="/RealEstateClient/Detail/@a.RealEstateID">
                                        <img class="media-object" src="@a.Image" alt="img">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/RealEstateClient/Detail/@a.RealEstateID">@a.Name</a></h4>
                                    <p>@a.Description</p>
                                    <span>@String.Format(format, "{0:c0}", @a.Price)</span>
                                </div>
                            </div>
                        }
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<footer id="aa-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-footer-area">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-left">
                                <p>Hotline: <a rel="nofollow" href="http://www.markups.io/">0364267605</a></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-middle">
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
                                <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="aa-footer-right">
                                <a href="#">Trang chủ</a>
                                <a href="#">Hỗ trợ khách hàng</a>
                                <a href="#">Hướng dẫn</a>
                                <a href="#">Câu hỏi thường gặp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>