@*@model List<Model.ViewModel.RealEstateViewModel>*@
@*@model PagedList.IPagedList<Model.EF.RealEstate>*@

@model PagedList.IPagedList<Model.EF.RealEstate>
@using PagedList.Mvc;

@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    //var dao = (Model.EF.RealEstate)ViewBag.CateID;
    var NewRealEstate = (List<Model.EF.RealEstate>)ViewBag.NewRealEstate;
    ViewBag.Title = "SearchCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Assets/client/js/app.js"></script>
}

<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Properties Page</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">PROPERTIES</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="aa-advance-search">
    <div class="container">
        <div class="aa-advance-search-area">
            @using (Html.BeginForm("SearchCategory", "Category", FormMethod.Get))
            {
                <div class="form">
                    <div class="aa-advance-search-top">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="aa-single-advance-search">
                                    <label for="ddlProvince">Chọn danh mục </label>
                                    <select id="abc" name="search" class="trung">
                                        <option value="">@ViewBag.search</option>
                                        <option value="Đất">Đất</option>
                                        <option value="Căn hộ chung cư">Căn Hộ chung cư</option>
                                        <option value="Nhà ở">Nhà ở</option>
                                        <option value="Mặt bằng">Mặt bằng kinh doanh</option>
                                        <option value="Phòng trọ">Phòng trọ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="aa-single-advance-search">
                                    <label for="ddlProvince">Chọn Tỉnh/TP</label>
                                    <select id="ddlProvince" name="" class="trung">
                                        <option value="@ViewBag.tp">@ViewBag.tp</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="aa-single-advance-search">
                                    <label for="ddlProvince">Chọn Quận/huyện</label>
                                    <select id="ddlDistrict" name="" class="trung">
                                        <option selected="" value="@ViewBag.qh">@ViewBag.qh</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="aa-single-advance-search">
                                    <label for="ddlProvince">Chọn Phường/xã</label>
                                    <select id="ddlWard" name="" class="trung">
                                        <option selected="" value="@ViewBag.px">@ViewBag.px</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-advance-search">
                                    <input class="aa-search-btn" type="submit" value="Tìm Kiếm">
                                </div>
                            </div>
                            <div>
                                <input type="hidden" id="divResult" name="searchString" value="" />
                                <input type="hidden" id="divtp" name="tp" value="" />
                                <input type="hidden" id="divqh" name="qh" value="" />
                                <input type="hidden" id="divpx" name="px" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="aa-advance-search-bottom">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="price-input">
                                    <div class="field">
                                        <span>TỪ</span>
                                        <input type="number" name="giamin" class="input-min" value="@ViewBag.giamin">
                                    </div>
                                    @*<div class="separator">-</div>*@
                                    <div class="field">
                                        <span>ĐẾN</span>
                                        <input type="number" name="giamax" class="input-max" value="@ViewBag.giamax">
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="0" max="100" value="@ViewBag.giamin" step="1">
                                    <input type="range" class="range-max" min="0" max="100" value="@ViewBag.giamax" step="1">
                                </div>
                                <div style="text-align:center; margin-top:5px;"><span>GIÁ (Triệu đồng)</span></div>
                            </div>
                            <div class="col-md-6">
                                <div class="price-input1">
                                    <div class="field">
                                        <span>TỪ</span>
                                        <input type="number" name="dtmin" class="input-min1" value="@ViewBag.dtmin">
                                    </div>
                                    @*<div class="separator1">-</div>*@
                                    <div class="field">
                                        <span>ĐẾN</span>
                                        <input type="number" name="dtmax" class="input-max1" value="@ViewBag.dtmax">
                                    </div>
                                </div>
                                <div class="slider1">
                                    <div class="progress1"></div>
                                </div>
                                <div class="range-input1">
                                    <input type="range" class="range-min1" min="0" max="1000" value="@ViewBag.dtmin" step="10">
                                    <input type="range" class="range-max1" min="0" max="1000" value="@ViewBag.dtmax" step="10">
                                </div>
                                <div style="text-align:center; margin-top:5px;"><span>DIỆN TÍCH (m2)</span></div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<section id="aa-properties">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">

                    <div class="aa-properties-content-head">
                        <div class="aa-properties-content-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sort by</label>
                                <select name="">
                                    <option value="1" selected="Default">Default</option>
                                    <option value="2">Name</option>
                                    <option value="3">Price</option>
                                    <option value="4">Date</option>
                                </select>
                            </form>
                            <form action="" class="aa-show-form">
                                <label for="">Show</label>
                                <select name="">
                                    <option value="1" selected="12">6</option>
                                    <option value="2">12</option>
                                    <option value="3">24</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-properties-content-head-right">
                            <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
                            <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <span style="text-transform: uppercase; margin-top:20px; font-weight: 600;">DANH MỤC @ViewBag.search @ViewBag.searchString MỚI NHẤT :</span>
                    <!-- start properties content head -->
                    <!-- Start properties content body -->
                    @if (Model.Count() > 0)
                    {
                        <div class="aa-properties-content-body">

                            @foreach (var item in Model)
                            {
                                <ul class="commentlist">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <img alt="img" src="@item.Image" class="media-object news-img">
                                            </div>
                                            <div class="media-body">
                                                <a class="author-name" href="/RealEstateClient/Detail/@item.RealEstateID" style="font-size:18px ">@item.Name</a>
                                                <span class="comments-date">@String.Format(format, "{0:c0}", @item.Price)</span>
                                                <span class="comments-date" style="margin-left: 20px; word-spacing: -5px;"> @item.Acreage m2</span><br />
                                                <span class="comments-date"> @item.Address </span>
                                                <p>@item.Description</p>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="aa-properties-content-body" style="text-align: center; text-transform: uppercase; margin-top: 70px;"> <span style="text-align:center">Danh sách trống</span></div>
                    }
                    <div class="row">
                        <div class="col">
                            <div class="pagination-list">
                                @Html.PagedListPager(Model, page => Url.Action("SearchCategory", new { page, search = @ViewBag.search, @searchString = @ViewBag.SearchString }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Start properties sidebar -->

            <div class="col-md-4">
                <aside class="aa-properties-sidebar">


                    <!-- Start Single properties sidebar -->
                    <!-- Start Single properties sidebar -->
                    <div class="aa-properties-single-sidebar">
                        <h3>Tin mới đăng</h3>
                        @foreach (var a in NewRealEstate)
                        {
                            <div class="media">
                                <div class="media-left">
                                    <a href="/RealEstateClient/Detail/@a.RealEstateID">
                                        <img class="media-object" src="@a.Image" alt="img">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/RealEstateClient/Detail/@a.RealEstateID">@a.Name</a></h4>
                                    <p>@a.Description</p>
                                    <span>@a.Price</span>
                                </div>
                            </div>
                        }
                    </div>
                </aside>
            </div>
        </div>
    </div>

</section>

<footer id="aa-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-footer-area">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-left">
                                <p>Hotline: <a rel="nofollow" href="http://www.markups.io/">0364267605</a></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-middle">
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
                                <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="aa-footer-right">
                                <a href="#">Trang chủ</a>
                                <a href="#">Hỗ trợ khách hàng</a>
                                <a href="#">Hướng dẫn</a>
                                <a href="#">Câu hỏi thường gặp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
@{
    <script>
        const rangeInput1 = document.querySelectorAll(".range-input1 input"),
            priceInput1 = document.querySelectorAll(".price-input1 input"),
            range1 = document.querySelector(".slider1 .progress1");
        let priceGap1 = 0;
        priceInput1.forEach(input => {
            input.addEventListener("input", e => {
                let minPrice1 = parseInt(priceInput1[0].value),
                    maxPrice1 = parseInt(priceInput1[1].value);

                if ((maxPrice1 - minPrice1 >= priceGap1) && maxPrice1 <= rangeInput1[1].max) {
                    if (e.target.className === "input-min1") {
                        rangeInput1[0].value = minPrice1;
                        range1.style.left = ((minPrice1 / rangeInput1[0].max) * 10) + "%";
                    } else {
                        rangeInput1[1].value = maxPrice1;
                        range1.style.right = 10 - (maxPrice1 / rangeInput1[1].max) * 10 + "%";
                    }
                }
            });
        });
        rangeInput1.forEach(input => {
            input.addEventListener("input", e => {
                let minVal1 = parseInt(rangeInput1[0].value),
                    maxVal1 = parseInt(rangeInput1[1].value);
                if ((maxVal1 - minVal1) < priceGap1) {
                    if (e.target.className === "range-min1") {
                        rangeInput1[0].value = maxVal1 - priceGap1
                    } else {
                        rangeInput1[1].value = minVal1 + priceGap1;
                    }
                } else {
                    priceInput1[0].value = minVal1;
                    priceInput1[1].value = maxVal1;
                    range1.style.left = ((minVal1 / rangeInput1[0].max) * 100) + "%";
                    range1.style.right = 100 - (maxVal1 / rangeInput1[1].max) * 100 + "%";
                }
            });
        });
    </script>
    <script>
        const rangeInput = document.querySelectorAll(".range-input input"),
            priceInput = document.querySelectorAll(".price-input input"),
            range = document.querySelector(".slider .progress");
        let priceGap = 0;
        priceInput.forEach(input => {
            input.addEventListener("input", e => {
                let minPrice = parseInt(priceInput[0].value),
                    maxPrice = parseInt(priceInput[1].value);

                if ((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max) {
                    if (e.target.className === "input-min") {
                        rangeInput[0].value = minPrice;
                        range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
                    } else {
                        rangeInput[1].value = maxPrice;
                        range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                    }
                }
            });
        });
        rangeInput.forEach(input => {
            input.addEventListener("input", e => {
                let minVal = parseInt(rangeInput[0].value),
                    maxVal = parseInt(rangeInput[1].value);
                if ((maxVal - minVal) < priceGap) {
                    if (e.target.className === "range-min") {
                        rangeInput[0].value = maxVal - priceGap
                    } else {
                        rangeInput[1].value = minVal + priceGap;
                    }
                } else {
                    priceInput[0].value = minVal;
                    priceInput[1].value = maxVal;
                    range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
                    range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
                }
            });
        });
    </script>

}