@model  PagedList.IPagedList<Model.EF.RealEstate>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Assets/Admin/js/controller/app.js"></script>

}

<div class="main">
    <div class="body-left">
        <div class="aside-info">
            <div class="info-my">
                <div class="my-info">
                    <div class="image-info"><img src="~/Assets/client/img/user.png" alt="" width="50"></div>
                    <div class="thongtincuatoi">
                        <h4>Nguyễn Thành Trung</h4>
                        <span>025252514</span>
                    </div>
                </div>
                <div class="my-code">
                    <label for="">Mã thành viên: <strong>115837</strong></label><br>
                    <label for="">TK Chính: <strong>0 đ</strong></label>
                </div>
                <div class="my-btn">
                    <button id="btn-yellow">Nạp tiền</button>
                    <button id="btn-red">Đăng tin</button>
                </div>
            </div>
            <div class="info-tt">
                <div class="tt-svg"><i class="fa-solid fa-file-lines"></i><a><span>Quản lí tin đăng</span></a></div>
                <div class="tt-svg">
                    <i class="fa-solid fa-pen-to-square"></i><a><span>Sửa thông tin cá nhân</span></a>
                </div>
                <div class="tt-svg"><i class="fa-solid fa-dollar-sign"></i><a><span>Nạp tiền vào tại khoản</span></a></div>
                <div class="tt-svg"><i class="fa-solid fa-calendar"></i><span>Lịch thanh toán</span></div>
                <div class="tt-svg">
                    <i class="fa-solid fa-hand-holding-dollar"></i><a><span>Bảng giá dịch vụ</span></a>
                </div>
                <div class="tt-svg"><i class="fa-solid fa-comment"></i><a><span>Liên hệ</span></a></div>
                <div class="tt-svg"><i class="fa-solid fa-arrow-right-from-bracket"></i><a><span>Thoát</span></a></div>
            </div>
        </div>
    </div>
    <div style="height:535px" class="body-right">
        <div class="right-margin">
            <div class="dangtin">
                <ul>
                    <li><a>Danh mục</a></li>
                    <li>Quản lí tin dăng</li>

                </ul>
            </div>

            <div style="width:90%" class="stretch-card">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "PostManage", FormMethod.Get))
                        {
                            <div class="">
                                <div class="">
                                    <div style="display:flex" class="">
                                        <div style="margin: 20px 20px 10px 0" class="">
                                            <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" placeholder="Search for..." />
                                        </div>
                                        <div class="">
                                            <button class="btn btn-success" type="submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th>Mã Tin</th>
                                        <th>Ảnh đại diện</th>
                                        <th>Tiêu đề</th>
                                        <th>Giá</th>
                                        <th>Ngày đăng</th>

                                        <th>Tùy Chọn</th>
                                    </tr>
                                </thead>
                                @if (Model.Count() > 0)
                                {
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr id="row_@item.RealEstateID">
                                                <td>@item.RealEstateID</td>
                                                <td><img src="@item.Image" style="width: 50px; height: 50px;" /></td>
                                                <td>@item.Name</td>
                                                <td>@item.Price</td>
                                                <td>@item.CreateDate</td>

                                                <td>
                                                    <a href="#" data-id="@item.RealEstateID" class="btn-images">Quản lí ảnh </a>
                                                    <br />
                                                    @Ajax.ActionLink("Delete", "Delete", new { @id = item.RealEstateID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xóa bất động sản này  ?",
                                       OnComplete = "$(#'row_" + @item.RealEstateID + "').Remove()",
                                       HttpMethod = "Delete"

                                   })
                                                </td>


                                            </tr>

                                        }
                                    </tbody>
                                }

                                else
                                {
                                    <tbody>
                                        <tr><td>Bạn chưa có tin đăng nào <a> bấm vào đây</a>để đăng tin </td></tr>
                                    </tbody>
                                }

                            </table>
                            <input type="hidden" id="strimage" name="image" />
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="imagesManange" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Quản lý ảnh</h4>
            </div>
            <div class="modal-body">
                <div id="imagesList" style="margin:5px;">

                </div>
                <input type="button" id="btnChooImages" class="btn btn-primary" value="chọn ảnh" />
                <input type="hidden" id="hidProductID" value="0" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveImages">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script src="/Assets/Admin/js/plugins/ckfinder/ckfinder.js"></script>
<script src="/Assets/Admin/js/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Assets/Admin/js/controller/realestateController.js"></script>