@model Model.ViewModel.RealEstateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (Model.EF.Custommer)ViewBag.User;
    <script src="~/Assets/Admin/js/controller/app.js"></script>


}




<div class="main">
    <div class="body-left">
        <div style="margin-left:10px" class="aside-info">

            <div class="info-my">
                <div class="my-info">
                    <div class="image-info"><img src="~/Assets/client/img/user.png" alt="" width="50"></div>
                    <div style="margin-left:10px;" class="thongtincuatoi">
                        <h4>@user.Name</h4>
                        <span>@user.Phone</span>
                    </div>
                </div>
                <div class="my-code">
                    <label for="">Mã thành viên:@user.UserID <strong></strong></label><br>
                    <label for="">TK Chính: <strong>0 đ</strong></label>
                </div>
                <div class="my-btn">
                    <button id="btn-yellow">Nạp tiền</button>
                    <button id="btn-red">Đăng tin</button>
                </div>
            </div>
            <div class="info-tt">
                <div class="tt-svg"><i class="fa-solid fa-file-lines"></i><a href="/PostManage/Index"><span>Quản lí tin đăng</span></a></div>
                <div class="tt-svg">
                    <i class="fa-solid fa-pen-to-square"></i><a href="/profileUser/Edit"><span>Sửa thông tin cá nhân</span></a>
                </div>
                <div class="tt-svg"><i class="fa-solid fa-dollar-sign"></i><a><span>Nạp tiền vào tại khoản</span></a></div>
                <div class="tt-svg"><i class="fa-solid fa-calendar"></i><span>Lịch thanh toán</span></div>
                <div class="tt-svg">
                    <i class="fa-solid fa-hand-holding-dollar"></i><a><span>Bảng giá dịch vụ</span></a>
                </div>
                <div class="tt-svg"><i class="fa-solid fa-comment"></i><a><span>Liên hệ</span></a></div>
                <div class="tt-svg"><i class="fa-solid fa-arrow-right-from-bracket"></i><a><span>Thoát</span></a></div>
            </div>
        </div>
    </div>
    <div class="body-right">
        <div class="right-margin">
            <div class="dangtin">
                <ul>
                    <li><a>Phòng trọ</a></li>
                    <li>Quản lí</li>
                    <li>Đăng tin mới</li>
                </ul>
            </div>
            <div class="dangtin-new">
                <h2>Đăng tin mới</h2>
            </div>
            @if (TempData["AlertMessage"] != null)
            {
                <div id="Alert" class="alert @TempData["AlertType"] ">
                    @TempData["AlertMessage"]
                </div>
            }
            <div class="canhbao">
                <p>
                    Nếu bạn đã từng đăng tin trên NhaDatTot. Chú ý "tin đăng phải trung thực chính xác, tin đăng trùng
                    nhau sẽ không được duyệt, tin đăng đã có người sở hữu thì phải ẩn, tránh cho khách hàng nhầm lẫn mất thời gian liên lạc"
                </p>
            </div>
            <div class="main-container">


                <div class="container-left">
                    <div class="address">
                        <h2>Địa chỉ cho thuê</h2>
                    </div>
                    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { id = "detail-post-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="adress-new">


                            <div class="new">
                                <div>
                                    <label for="ddlProvince">Tỉnh/Thành Phố</label>
                                </div>
                                <select id="ddlProvince" style="width: 150px; height: 40px;" class="js-example-basic-single"
                                        name="state">
                                    <option value="">--Chọn Tỉnh/TP--</option>
                                </select>
                            </div>
                            <div class="new">
                                <div>
                                    <label for="ddlDistrict">Quận/Huyện</label>
                                </div>
                                <select id="ddlDistrict" style="width: 150px; height: 40px;" class="js-example-basic-single"
                                        name="state">
                                    <option value="">--Chọn Quận/Huyện--</option>
                                </select>
                            </div>
                            <div class="new">
                                <div>
                                    <label for="ddlWard">Phường/xã</label>
                                </div>
                                <select id="ddlWard" style="width: 150px; height: 40px;" class="js-example-basic-single"
                                        name="state">
                                    <option value="">--Chọn Phường/Xã--</option>
                                </select>
                            </div>
                            <div class="new">
                                <div>
                                    <label for="ddlVillage">Thôn/xóm</label>
                                </div>
                                <select id="ddlVillage" style="width: 150px; height: 40px;" class="js-example-basic-single"
                                        name="state">
                                    <option value="">--Chọn Thôn/xóm--</option>
                                </select>
                            </div>
                        </div>
                        <div class="sonha">
                            <label class="aaa" for="">Số nhà</label><br>
                            <input type="text">
                        </div>
                        <div class="diachichinhxac">
                            <label class="aaa" for="">Địa chỉ chính xác</label><br>
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "divResult", @readonly = true })

                            <label class="form-message" style="color: red;"></label>
                        </div>
                        <div class="thontinmota">
                            <h3>Thông tin mô tả</h3>
                        </div>
                        <div class="loaichuyenmuc">
                            <label class="aaa" for="">Danh mục bất động sản</label><br>
                            @Html.DropDownListFor(model => model.CatID, null, "--Chọn danh mục bất động sản--", new { @class = "form-control", id = "cate" })

                            <label class="form-message" style="color: red;"></label>
                        </div>
                        <div class="loaichuyenmuc">
                            <label class="aaa" for="">Loại Tin đăng</label><br>
                            @Html.DropDownListFor(model => model.CateID, null, "--Chọn loại tin đăng--", new { @class = "form-control", id = "loaitd" })

                            <label class="form-message" style="color: red;"></label>
                        </div>
                        <div class="tieude">
                            <label class="aaa" for="">Tiêu đề</label><br>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "name" })

                            <label class="form-message" style="color: red;"></label>
                        </div>
                        <div class="noidungmota">
                            <label class="aaa" for="">Nội dung mô tả</label><br>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "ndmt" })

                            <label class="form-message" style="color: red;"></label>
                        </div>
                        <div class="thongtinlienhe">
                            <label class="aaa" for="">Thông tin liên hệ</label><br>
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", id = "sdt", @Value = user.Phone, @readonly = true })

                            <label class="form-message" style="color: red;"></label>
                        </div>
                        <div class="thongtinlienhe">
                            <label class="aaa" for="">Giá cho thuê</label><br>
                            @*<div style="display:flex">*@
                            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", id = "giact" })
                            <small>Nhập đầy đủ số,ví dụ 1 triệu thì nhập là 1000000 </small><br />
                            @*<div class="input-group-append"><span class="input-group-text">đồng</span></div>
                </div>*@
                            <label class="form-message" style="color: red;"></label>
                        </div>
                        <div class="thongtinlienhe">
                            <label class="aaa" for="">Diện tích</label><br>
                            <div style="display:flex">
                                @Html.TextBoxFor(model => model.Acreage, new { @class = "form-control", id = "acreage", @type = "number", @attern = "[0-9.]+", @max = "1000" })

                                <div class="input-group-append"><span class="input-group-text">m2</span></div>
                            </div>
                            <label class="form-message" style="color: red;"></label>

                        </div>
                        


                        <div class="hinhanh">
                            <h3>Hình ảnh</h3><br>
                            <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p><br>
                            <div>
                                <div class="addimages">
                                    <img id="btnChooImages" src="~/Assets/client/img/slider/addimage.png" alt="" width="110" height="95">
                                </div>
                                <div id="imagesList" style="margin:5px; display:flex; ">
                                </div>

                                <input type="hidden" id="strimage" name="image" />
                            </div>
                            <label class="form-message" style="color: red;"></label>

                            @*<input type="hidden" id="image" name="images" />*@
                        </div>


                        <div class="btn">
                            <div class="">
                                <input type="submit" id="btnSaveImages" value="Đăng Tin" class="btn btn-primary btn-user btn-block" />
                            </div>

                        </div>               
                    }
                </div>
                <div class="container-right">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.771503266693!2d108.21123561387952!3d16.0773427888759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142184792140755%3A0xd4058cb259787dac!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgUGjhuqFtIEvhu7kgdGh14bqtdCAtIMSQ4bqhaSBo4buNYyDEkMOgIE7hurVuZw!5e0!3m2!1svi!2s!4v1652888884600!5m2!1svi!2s"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="luuuy">
                        <div class="luuuy-cach">
                            <h3>
                                Lưu ý khi đăng tin
                            </h3>
                            <ul>
                                <li>Nội dung phải viết bằng tiếng Việt có dấu</li>
                                <li>Tiêu đề tin không dài quá 100 kí tự</li>
                                <li>Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
                                <li>Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao.</li>
                                <li>Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
   
    <script src="/Assets/Admin/js/plugins/ckfinder/ckfinder.js"></script>
    <script src="/Assets/Admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script>



        $('#btnChooImages').off('click').on('click', function (a) {
            a.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#imagesList').append('<div><img src="' + url + '" width="100" height="60" /><a href="#" class="btn-delImage"><i class="fa fa-times"></i></a></div>');

                $('.btn-delImage').off('click').on('click', function (a) {
                    a.preventDefault();
                    $(this).parent().remove();
                });
            };
            finder.popup();
        });

        $('#btnSaveImages').off('click').on('click', function () {
            var images = [];
            /*var id = $('#hidProductID').val();*/
            $.each($('#imagesList img'), function (i, item) {
                images.push($(item).prop('src'));
            })
            $("#strimage").val(images);

        });

    </script>

    <script src="~/Assets/client/js/validation.js"></script>
    <script>
        Validator({
            form: '#detail-post-form',
            rules: [
                Validator.isGender('#cate'),
                Validator.isTitle('#name'),
                Validator.isNDMT('#ndmt'),
                Validator.isGender1('#loaitd'),
                Validator.isDienTich('#giact'),

            ]
        })
    </script>

}
