
@model PagedList.IPagedList<Model.EF.RealEstate>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var image = (List<Model.EF.Image>)ViewBag.Image;
}
<section id="aa-slider">
    <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/1.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="./~/Assets/client/img/slider/2.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/1.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/3.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/2.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/3.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
        </div>
    </div>
</section>
@{ Html.RenderAction("Search", "Category");}
<!-- End slider  -->
<!-- Advance Search -->
@{ Html.RenderAction("CategoryShared", "Category");}
<!-- / Advance Search -->
<!-- About us -->
<!-- / About us -->
<!-- Latest property -->
<section id="aa-latest-property">
    <div class="container">
        <div class="aa-latest-property-area">
            <div class="aa-title">
                <h2>Tin Nổi Bật</h2>
                <span></span>
            </div>
            <div class="aa-latest-properties-content">
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <article class="aa-properties-item">
                            <a href="/RealEstate/Detail/@item.RealEstateID" class="aa-properties-item-img">
                           
                                <img src="@item.Image" alt="img">
                             
                            </a>
                            <div class="aa-tag for-sale">
                                @item.Category.Name
                            </div>
                            <div class="aa-properties-item-content">
                                <div class="aa-properties-about">
                                    <h3><a href="#">@item.Name</a></h3>
                                    <p>@item.CreateDate</p>
                                </div>
                                <div class="aa-properties-info">
                                    <span>@item.User.Name</span>
                                    <span></span>
                                    <span>@item.Acreage</span>
                                </div>
                                <div class="aa-properties-detial">
                                    <a class="aa-price"></a>
                                    <a href="#" class="aa-secondary-btn">View Details</a>
                                </div>
                            </div>
                        </article>

                    }
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="pagination-list">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest property -->
<!-- Service section -->
<!-- / Service section -->
<!-- Promo Banner Section -->
</section>
<!-- / Promo Banner Section -->
<!-- Our Agent Section-->
<section id="aa-agents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-agents-area">
                    <div class="aa-title">
                        <h2>Our Agents</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>
                    </div>
                    <!-- agents content -->
                    <div class="aa-agents-content">
                        <ul class="aa-agents-slider">
                            @foreach (var item in Model)
                            {

                                <li>
                                    <div class="aa-single-agents">
                                        <div class="aa-agents-img">
                                            <img src="@item.Image" alt="agent member image">
                                        </div>
                                        <div class="aa-agetns-info">
                                            <h4><a href="#">@item.Name</a></h4>
                                            <span>@item.CreateDate</span>
                                            <div class="aa-agent-social">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Our Agent Section-->
<!-- Client Testimonial -->
<section id="aa-client-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-testimonial-area">
                    <div class="aa-title">
                        <h2>What Client Say</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eaque quas debitis animi ipsum, veritatis!</p>
                    </div>
                    <!-- testimonial content -->
                    <div class="aa-testimonial-content">
                        <!-- testimonial slider -->
                        <ul class="aa-testimonial-slider">
                            <li>
                                <div class="aa-testimonial-single">
                                    <div class="aa-testimonial-img">
                                        <img src="~/Assets/client/img/testimonial-1.png" alt="testimonial img">
                                    </div>
                                    <div class="aa-testimonial-info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                                    </div>
                                    <div class="aa-testimonial-bio">
                                        <p>David Muller</p>
                                        <span>Web Designer</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-testimonial-single">
                                    <div class="aa-testimonial-img">
                                        <img src="~/Assets/client/img/testimonial-3.png" alt="testimonial img">
                                    </div>
                                    <div class="aa-testimonial-info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                                    </div>
                                    <div class="aa-testimonial-bio">
                                        <p>David Muller</p>
                                        <span>Web Designer</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="aa-testimonial-single">
                                    <div class="aa-testimonial-img">
                                        <img src="~/Assets/client/img/testimonial-2.png" alt="testimonial img">
                                    </div>
                                    <div class="aa-testimonial-info">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                                    </div>
                                    <div class="aa-testimonial-bio">
                                        <p>David Muller</p>
                                        <span>Web Designer</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Testimonial -->
<!-- Client brand -->
<section id="aa-client-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-brand-area">
                    <ul class="aa-client-brand-slider">
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-1.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-2.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-3.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-5.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-4.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-1.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-2.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-3.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-5.png" alt="brand image">
                            </div>
                        </li>
                        <li>
                            <div class="aa-client-single-brand">
                                <img src="~/Assets/client/img/client-brand-4.png" alt="brand image">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Client brand -->
<!-- Latest blog -->
<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <div class="aa-title">
                        <h2>Latest News</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe magni, est harum repellendus. Accusantium, nostrum!</p>
                    </div>
                    <div class="aa-latest-blog-content">
                        <div class="row">
                            <!-- start single blog -->
                            <div class="col-md-4">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="~/Assets/client/img/blog-img-1.jpg" alt="img"></a>
                                        <span class="aa-date-tag">15 April, 16</span>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                        <div class="aa-blog-single-bottom">
                                            <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                            <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                        </div>
                                    </div>

                                </article>
                            </div>
                            <!-- start single blog -->
                            <div class="col-md-4">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="~/Assets/client/img/blog-img-2.jpg" alt="img"></a>
                                        <span class="aa-date-tag">15 April, 16</span>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                        <div class="aa-blog-single-bottom">
                                            <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                            <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- start single blog -->
                            <div class="col-md-4">
                                <article class="aa-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="~/Assets/client/img/blog-img-3.jpg" alt="img"></a>
                                        <span class="aa-date-tag">15 April, 16</span>
                                    </figure>
                                    <div class="aa-blog-single-content">
                                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio est quaerat magnam exercitationem voluptas, voluptatem sed quam ab laborum voluptatum tempore dolores itaque, molestias vitae.</p>
                                        <div class="aa-blog-single-bottom">
                                            <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                            <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

