
@model PagedList.IPagedList<Model.EF.RealEstate>
@using PagedList.Mvc;
@{
    // define format VND
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var image= Model.EF.Ina
    //var image = (List<Model.EF.Image>)ViewBag.Image;
}
<section id="aa-slider">
    <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/1.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="./~/Assets/client/img/slider/2.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/1.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/3.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/2.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/Assets/client/img/slider/3.jpg" alt="img">
                <!-- Top slider content -->
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
        </div>
    </div>
</section>
@{ Html.RenderAction("Search", "Category");}
<!-- End slider  -->
<!-- Advance Search -->
@{ Html.RenderAction("CategoryShared", "Category");}
<!-- / Advance Search -->
<!-- About us -->
<!-- / About us -->
<!-- Latest property -->
<section id="aa-latest-property">
    <div class="container">
        <div class="aa-latest-property-area">
            <div class="aa-title">
                <h2>Tin Nổi Bật</h2>
                <span></span>
            </div>
            <div class="aa-latest-properties-content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3">

                        <article class="aa-properties-item">
                            <a href="/RealEstateClient/Detail/@item.RealEstateID" class="aa-properties-item-img">

                                <img src="@item.Image" alt="img">

                            </a>
                            <div class="aa-tag for-sale">
                                @item.Category.Name
                            </div>
                            <div class="aa-properties-item-content">
                                <div class="aa-properties-about">
                                    <h3><a href="/RealEstateClient/Detail/@item.RealEstateID">@item.Name</a></h3>
                                    <p>@item.CreateDate</p>
                                </div>
                                <div class="aa-properties-info">
                                    <span>@item.Custommer.Name</span>
                                    @*<span style="word-spacing: -5px; ">@item.Acreage m2</span>*@
                                    <span style="float:right;">@String.Format(format, "{0:c0}", @item.Price)</span>
                                </div>
                                <div class="aa-properties-detial">
                                    <a class="aa-price"></a>
                                    <a href="/RealEstateClient/Detail/@item.RealEstateID" class="aa-secondary-btn">Chi tiết</a>
                                </div>
                            </div>
                        </article>
                    </div>

                }
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="pagination-list">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest property -->
<!-- Service section -->
<!-- / Service section -->
<!-- Promo Banner Section -->
</section>
<!-- / Promo Banner Section -->
<!-- Our Agent Section-->
<section id="aa-agents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-agents-area">
                    <div class="aa-title">
                        <h2>Bất động sản hot</h2>
                        <span></span>
                        
                    </div>
                    <!-- agents content -->
                    <div class="aa-agents-content">
                        <ul class="aa-agents-slider">
                            @foreach (var item in Model)
                            {

                                <li>
                                    <div class="aa-single-agents">
                                        <div class="aa-agents-img">
                                            <img src="@item.Image" alt="agent member image">
                                        </div>
                                        <div class="aa-agetns-info">
                                            <h4><a href="#">@item.Name</a></h4>
                                            <span>@item.CreateDate</span>
                                            <div class="aa-agent-social">
                                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                                <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
                                                <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                                                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Our Agent Section-->
<!-- Client Testimonial -->
<!-- Client Testimonial -->
<!-- Client brand -->
<!-- / Client brand -->
<!-- Latest blog -->
<footer id="aa-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-footer-area">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-left">
                                <p>Hotline: <a rel="nofollow" href="http://www.markups.io/">0364267605</a></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-middle">
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
                                <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="aa-footer-right">
                                <a href="#">Trang chủ</a>                                
                                <a href="#">Hỗ trợ khách hàng</a>
                                <a href="#">Hướng dẫn</a>
                                <a href="#">Câu hỏi thường gặp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

