@model realEstateWeb.Models.RegisterModel
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MvcCaptcha registercaptcha = new MvcCaptcha("registercaptcha");
    registercaptcha.UserInputID = "captchacode";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Assets/client/images/logo.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="~/Assets/client/Css/login.css">
    <script src="~/Assets/client/js/assets/javascripts/jquery-3.3.1.min.js"></script>


    <style>
        .form-group {

            color: #82b5a5;
        }


        .captcha {
            display: flex;
            padding: 0;

        }

        .captcha__code {
            flex: 1;
        }

        .captcha__show {
            width: 65%;
        }

        .box .inputBox .captcha__content input {
            width: 100%;
        }

        .register__box h2 {
            margin-top: 3rem;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="box register__box" style="margin-top:250px;">
                <h2>Đăng ký</h2>

                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">@ViewBag.Success</div>
                    }
                </div>
                <div class="inputBox">
                    <div class="input__content">
                        @Html.TextBoxFor(model => model.UserName, new { placeholder = "Tên đăng nhập", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", style = "color: red; " })
                    </div>
                    <div class="input__alert">

                    </div>

                </div>

                <div class="inputBox">
                    <div class="input__content">
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
                    </div>
                    <div class="input__alert">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", style = "color: red;  pointer-events: none" })
                    </div>
                </div>

                <div class="inputBox">
                    <div class="input__content">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Xác nhận mật khẩu", @class = "form-control" })
                    </div>
                    <div class="input__alert">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", style = "color: red;  pointer-events: none" })
                    </div>
                </div>

                <div class="inputBox">
                    <div class="input__content">
                        @Html.TextBoxFor(model => model.Name, new { placeholder = "Tên hiển thị", @class = "form-control" })
                    </div>
                    <div class="input__alert">
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", style = "color: red;  pointer-events: none" })
                    </div>
                </div>

                <div class="inputBox">
                    <div class="input__content">
                        @Html.TextBoxFor(model => model.Phone, new { placeholder = "Số điện thoại", @class = "form-control" })
                    </div>
                    <div class="input__alert">
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", style = "color: red;  pointer-events: none" })
                    </div>
                </div>

                <div class="inputBox">
                    <div class="input__content">
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @class = "form-control" })
                    </div>
                    <div class="input__alert">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "color: red;  pointer-events: none" })
                    </div>
                </div>

                <div class="inputBox captcha">

                    <div class="captcha__content captcha__code">
                        @Html.TextBox("captchacode")

                    </div>
                    <div class="captcha__content captcha__show">
                        @Html.Captcha(registercaptcha)
                    </div>

                </div><br>

                <input type="submit" value="Register" style="margin-top:20px" />
                <div class="register__content">
                    <h5>Bạn đã có tài khoản?</h5> <a href="/User/Login" class="register__open">Đăng Nhập</a>
                </div>

            </div>
        }
    </div>

</body>
</html>
