@model PagedList.IPagedList<Model.EF.RealEstate>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    List of news
}
@section jsFooter{

    <script src="~/Assets/Admin/js/controller/realestateController.js"></script>
}


<div class="row">
    <!-- Begin Page Content -->
    <div class="container-fluid">





        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-body">
                @using (Html.BeginForm("Index", "RealEstate", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12 form-content">
                            <div class="col form-input">
                                <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                            </div>
                            <div class="col ">
                                <button class="btn btn-success" type="submit">Search</button>
                                <a type="button" class="btn btn-primary" href="/Admin/RealEstate/Create">Add new</a>

                            </div>
                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th>Tên </th>
                                <th>Mô tả</th>
                                <th>Chi tiết</th>
                                <th>Hình ảnh</th>
                                <th>Ngày tạo</th>
                                <th>Status</th>
                                <th>#</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.RealEstateID">

                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@Html.Raw(item.Detail)</td>
                                    <td><img src="@item.Image" style="width: 50px; height: 50px;" /></td>
                                    <td>@item.CreateDate</td>
                                    <td><a href="#" class="btn-active" data-id="@item.RealEstateID">@Html.Raw(item.Status ? "<strong>Kích hoạt</strong>" : "Khoá")</a></td>

                                    <td>
                                        <a href="#" data-id="@item.RealEstateID" class="btn-images">Quản lí ảnh </a>
                                        <a href="/Admin/Content/Edit/@item.RealEstateID">Edit</a>
                                        <br />
                                        @Ajax.ActionLink("Delete", "Delete", new { @id = item.RealEstateID }, new AjaxOptions
                                   {
                                       Confirm = "Do you want to delete this record?",
                                       OnComplete = "$(#'row_" + @item.RealEstateID + "').Remove()",
                                       HttpMethod = "Delete"

                                   })
                                        <br />
                                        <a href="/Admin/Content/EditMaps/@item.RealEstateID">Add new location</a>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pagination-content">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<div id="imagesManange" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Quản lý ảnh</h4>
            </div>
            <div class="modal-body">
                <div id="imagesList" style="margin:5px;">

                </div>
                <input type="button" id="btnChooImages" class="btn btn-primary" value="chọn ảnh" />
                <input type="hidden" id="hidProductID" value="0" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveImages">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>