@model Model.EF.RealEstate
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.RealEstateCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.RealEstate>)ViewBag.relatedProducts;
    var image = (List<Model.EF.Image>)ViewBag.Image;
}
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Properties Page</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">HOME</a></li>
                        <li class="active">PROPERTIES</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
@{ Html.RenderAction("Search", "Category");}
<section id="aa-properties">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                    <div class="aa-properties-content-head">
                        <div class="aa-properties-content-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sort by</label>
                                <select name="">
                                    <option value="1" selected="Default">Default</option>
                                    <option value="2">Name</option>
                                    <option value="3">Price</option>
                                    <option value="4">Date</option>
                                </select>
                            </form>
                            <form action="" class="aa-show-form">
                                <label for="">Show</label>
                                <select name="">
                                    <option value="1" selected="12">6</option>
                                    <option value="2">12</option>
                                    <option value="3">24</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-properties-content-head-right">
                            <a id="aa-grid-properties" href="#"><span class="fa fa-th"></span></a>
                            <a id="aa-list-properties" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <!-- Start properties content body -->
                    <div class="aa-properties-details">

                        <div class="aa-properties-details-img">
                            @foreach (var i in image)
                            {
                                <img src="@i.LinkImage" alt="img">
                            }
                        </div>

                        <div class="aa-properties-info">
                            <h2 style="font-size:25px; color: brown">
                                @Model.Name
                            </h2>
                            <div style="margin: 30px 0">
                                <span><i style="margin-right: 10px; color: blue;" class="fa-solid fa-location-dot"></i>@Model.Address</span>
                            </div>
                            <div>
                                <span style="display: inline-block; color: gray; padding-right: 100px "><i style="margin-right: 10px; " class="fa-solid fa-warehouse"></i>@Model.Acreage</span>
                                <span style="display: inline-block;  color: gray; padding-right: 100px "><i style="margin-right: 10px;" class="fa-solid fa-clock"></i>@Model.CreateDate</span>
                                <span style="display: inline-block;  color: gray; padding-right: 100px "><i style="margin-right: 10px;" class="fa-solid fa-hashtag"></i>@Model.RealEstateID</span>
                            </div>

                            <span style="color: forestgreen;" class="aa-price">@String.Format(format, "{0:c0}", Model.Price)</span>
                            <h4>Thông tin mô tả</h4>
                            <p>@Model.Description</p>




                            <h4>Property Map</h4>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6851.201919469417!2d-86.11773906635584!3d33.47324776828677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888bdb60cc49c571%3A0x40451ca6baf275c7!2s36008+AL-77%2C+Talladega%2C+AL+35160%2C+USA!5e0!3m2!1sbn!2sbd!4v1460452919256" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <!-- Properties social share -->
                        <!-- Nearby properties -->


                    </div>
                </div>
            </div>
            <!-- Start properties sidebar -->
            <div class="col-md-4">
                <aside class="aa-properties-sidebar">
                    <div class="user" style="text-align:center">
                        <img src="https://phongtro123.com/images/default-user.png" alt="" width="200" style="border-radius:50%;" />
                        <h3 style="margin-bottom:0px;">@Model.Custommer.Name</h3>
                        <span style="margin-top:2px; font-size:10px;">đang hoạt động</span><br />
                        <a class="btn phone">@Model.Custommer.Phone</a><br />
                        <a class="btn zalo">Nhắn Zalo</a><br />

                    </div>
                    <!-- Start Single properties sidebar -->
                    <div class="aa-properties-single-sidebar">
                        <h3>Danh sách liên quan</h3>
                        @foreach (var a in relatedProducts)
                        {
                            <div class="media">
                                <div class="media-left">
                                    <a href="/RealEstateClient/Detail/@a.RealEstateID">
                                        <img class="media-object" src="@a.Image" alt="img">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="/RealEstateClient/Detail/@a.RealEstateID">@a.Name</a></h4>
                                    <p>@a.Description</p>
                                    <span>@a.Price</span>
                                </div>
                            </div>
                        }

                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<footer id="aa-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-footer-area">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-left">
                                <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="aa-footer-middle">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="aa-footer-right">
                                <a href="#">Home</a>
                                <a href="#">Support</a>
                                <a href="#">License</a>
                                <a href="#">FAQ</a>
                                <a href="#">Privacy & Term</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
